body {
  font-family: 'Open Sans', sans-serif;
  color: #333;
  font-size: 1em;
  line-height: 1.45em;
  font-weight: 300;
}

h1 {
  margin-top: 20px;
  margin-bottom: 0.5em;
  font-size: 2.441em;
  line-height: 44px;
  font-weight: 300;
}

h2 {
  margin-top: 20px;
  margin-bottom: 0.5em;
  font-size: 1.953em;
  line-height: 36px;
  font-weight: 300;
}

h3 {
  margin-top: 20px;
  margin-bottom: 0.5em;
  font-size: 1.563em;
  line-height: 30px;
  font-weight: 300;
}

h4 {
  margin-top: 10px;
  margin-bottom: 0.5em;
  font-size: 1.25em;
  line-height: 24px;
  font-weight: 300;
}

p {
  margin-bottom: 1.3em;
}

a {
  border-radius: 4px;
  text-decoration: underline;
}

.section-minvh {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.section-minvh.gradient-purple.gradient-inbox {
  background-image: -webkit-linear-gradient(260deg, rgba(69, 127, 202, 0), rgba(86, 145, 200, .97) 99%);
  background-image: linear-gradient(190deg, rgba(69, 127, 202, 0), rgba(86, 145, 200, .97) 99%);
}

.section-minvh.gradient-sky {
  background-image: -webkit-linear-gradient(231deg, #fc00ff, #00d);
  background-image: linear-gradient(219deg, #fc00ff, #00d);
}

.button-normal {
  padding: 12px 50px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 255, .75);
  border-radius: 20px;
  background-color: #000;
  box-shadow: 0 0 6px 1px rgba(0, 0, 255, .33);
  -webkit-transition: background-color 1000ms ease, color 1000ms ease, box-shadow 1000ms ease;
  transition: background-color 1000ms ease, color 1000ms ease, box-shadow 1000ms ease;
  color: #fff;
}

.button-normal:hover {
  border-color: rgba(0, 0, 255, .75);
  background-color: #000;
  box-shadow: 0 0 40px 0 rgba(0, 0, 255, .55);
  color: #fff;
}

.gradient-yellow {
  background-image: -webkit-linear-gradient(313deg, #fceabb, #f8b500);
  background-image: linear-gradient(137deg, #fceabb, #f8b500);
}

.gradient-purple {
  background-image: -webkit-linear-gradient(313deg, #000428, #004e92);
  background-image: linear-gradient(137deg, #000428, #004e92);
  color: #fff;
}

.gradient-blue {
  background-image: -webkit-linear-gradient(260deg, #00d2ff, #928dab);
  background-image: linear-gradient(190deg, #00d2ff, #928dab);
  color: #fff;
}

.gradient-inbox {
  background-image: -webkit-linear-gradient(260deg, rgba(69, 127, 202, .5), rgba(86, 145, 200, .97) 94%, rgba(86, 145, 200, .5));
  background-image: linear-gradient(190deg, rgba(69, 127, 202, .5), rgba(86, 145, 200, .97) 94%, rgba(86, 145, 200, .5));
  color: #fff;
}

.gradient-sky {
  background-image: -webkit-linear-gradient(145deg, #fc00ff, #00d);
  background-image: linear-gradient(305deg, #fc00ff, #00d);
  color: #fff;
}

.gradient-box {
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 0 0 2px rgba(58, 58, 252, .39), 0 0 10px 10px #fc00ff;
  color: #000;
}

.div-70 {
  display: block;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
}

.div-block-2 {
  padding: 100px;
  border-radius: 10px;
  background-color: #21d4fd;
  background-image: -webkit-linear-gradient(71deg, rgba(33, 212, 253, 0), #b721ff);
  background-image: linear-gradient(19deg, rgba(33, 212, 253, 0), #b721ff);
}

.div-block-2-copy {
  margin-top: -62px;
  margin-left: 100px;
  padding: 101px 100px 100px;
  border-radius: 10px;
  background-color: #21d4fd;
  background-image: -webkit-linear-gradient(231deg, rgba(33, 212, 253, 0), #b721ff);
  background-image: linear-gradient(219deg, rgba(33, 212, 253, 0), #b721ff);
}

.header-brand {
  margin-top: 20px;
}

.navbar-nav {
  background-color: #fff;
}

.header-home {
  margin-top: 0px;
}

.section-80 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.section-180 {
  min-height: 100vh;
  padding-top: 180px;
  padding-bottom: 180px;
  background-color: #fafafc;
}

.section-180.gradient-purple {
  background-image: -webkit-linear-gradient(90deg, #000428, #004e92);
  background-image: linear-gradient(0deg, #000428, #004e92);
}

.section-180.gradient-grey {
  background-image: -webkit-linear-gradient(31deg, #bdc3c7, #2c3e50);
  background-image: linear-gradient(59deg, #bdc3c7, #2c3e50);
  color: #fff;
}

.section-180.grey-soft {
  border-bottom: 1px solid #eee;
  background-color: #fafafc;
  background-image: -webkit-linear-gradient(270deg, rgba(250, 250, 252, .97), rgba(250, 250, 252, .97)), url('../images/glamorous.svg');
  background-image: linear-gradient(180deg, rgba(250, 250, 252, .97), rgba(250, 250, 252, .97)), url('../images/glamorous.svg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, 90px;
  background-repeat: repeat, repeat;
  background-attachment: scroll, fixed;
}

.section-flex {
  display: block;
  min-height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fafafc;
}

.div-left-card {
  display: block;
  width: 95%;
  margin-right: auto;
  margin-left: auto;
  padding: 40px;
  border: 1px solid #eee;
  border-radius: 6px;
  background-color: #fff;
  font-size: 110%;
  line-height: 150%;
}

.div-right-card {
  padding: 40px;
  border: 1px solid #eee;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  background-color: #fff;
}

.text-registration {
  color: #0008be;
  font-weight: 600;
}

.heading {
  margin-top: 0px;
}

.unordered-list {
  padding-left: 10px;
}

.section-181 {
  padding-top: 180px;
  padding-bottom: 180px;
}

.wrapper-minvh {
  min-height: 100vh;
}

.image-header {
  display: block;
  border-radius: 20px;
}

.hero {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  min-height: 100vh;
  padding-bottom: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fafafc;
  background-image: -webkit-linear-gradient(270deg, rgba(250, 250, 252, .98), rgba(250, 250, 252, .98)), url('../images/glamorous.svg');
  background-image: linear-gradient(180deg, rgba(250, 250, 252, .98), rgba(250, 250, 252, .98)), url('../images/glamorous.svg');
  background-position: 0px 0px, 0px 0px;
  background-size: auto, 90px;
  font-size: 1em;
}

.header-land {
  border-bottom: 3px none rgba(0, 255, 61, .75);
  font-weight: 700;
}

.paragraph {
  margin-bottom: 1em;
  color: rgba(0, 0, 255, .75);
  font-size: 1.2em;
  font-weight: 600;
}

.section {
  display: block;
  height: 100vh;
  padding-top: 100vh;
}

.div-block-3 {
  width: 40%;
  margin-bottom: 1.3em;
  color: #8a8a8a;
  text-align: center;
}

.home-desc {
  color: #8a8a8a;
  font-size: 1.2em;
}

.navbar {
  background-color: #000;
  color: #fff;
}

.nav-link {
  -webkit-transition: color 1000ms ease;
  transition: color 1000ms ease;
  color: hsla(0, 0%, 100%, .5);
}

.nav-link:hover {
  color: #fff;
}

.text-block {
  margin-top: 20px;
  color: #fff;
}

.box_white {
  display: block;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border: 1px solid #eee;
  border-radius: 6px;
  background-color: #fff;
}

.tab-link {
  width: 50%;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 0px;
  background-color: #000;
  color: #fff;
  text-align: center;
}

.tab-link.w--current {
  background-color: rgba(0, 0, 255, .75);
}

.hero-block {
  display: block;
  height: 100%;
  min-height: 100vh;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fafafc;
  background-image: -webkit-linear-gradient(270deg, rgba(250, 250, 252, .98), rgba(250, 250, 252, .98)), url('../images/glamorous.svg');
  background-image: linear-gradient(180deg, rgba(250, 250, 252, .98), rgba(250, 250, 252, .98)), url('../images/glamorous.svg');
  background-position: 0px 0px, 0px 0px;
  background-size: auto, 90px;
  font-size: 1em;
}

.hero-block-1 {
  background-image: -webkit-linear-gradient(270deg, rgba(250, 250, 252, .98), rgba(250, 250, 252, .98)), url('../images/glamorous.svg');
  background-image: linear-gradient(180deg, rgba(250, 250, 252, .98), rgba(250, 250, 252, .98)), url('../images/glamorous.svg');
  background-position: 0px 0px, 0px 0px;
  background-size: auto, 90px;
}

@media (max-width: 991px) {
  .div-block-3 {
    width: 60%;
  }
  .menu-button {
    background-color: transparent;
  }
  .nav-menu {
    background-color: #000;
  }
}

@media (max-width: 767px) {
  .div-block-3 {
    width: 80%;
  }
  .menu-button.w--open {
    background-color: transparent;
  }
}

@media (max-width: 479px) {
  .button-normal {
    display: block;
    padding-right: 20px;
    padding-left: 20px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .hero {
    padding-right: 10px;
    padding-left: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }
  .div-block-3 {
    width: 100%;
  }
  .hero-block {
    padding-right: 10px;
    padding-left: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }
}